<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Url Shortner</title>
  <link rel="icon" href="../public/images/favicon.ico"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-bold">
        <strong>Url Shortener</strong>
      </a>
    </div>
  </nav>
  <section class="hero is-link is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">
          Possibly the <b><u>greatest</u></b> url shortener...
        </p>
        <br><br>
        <form action= "/" method="post">
        <div class="field has-addons has-addons-centered">
            <div class="control">
              <input class="input is-rounded is-medium" type="text" name="originalUrl" placeholder="Link to shorten" size="55" <% if(originalUrl){%> value =  <%=originalUrl%> <%}%> required>
            </div>
            <div class="control">
              <button type ="submit" value = "Submit" class="button is-rounded is-medium is-dark">
                Go!
              </button>
            </div>
        </div>
      </form>
        <br><br>
        <div class="field has-addons has-addons-centered">
          <div class="control has-icons-right">
            <input class="input is-rounded is-medium is-outlined" type="text" placeholder="Shortened link"  size="30" <% if(shortenedUrl){%> value =  <%=shortenedUrl%> <%}%> readonly>
            <span class="icon is-medium is-right is-dark">
              <i class="fas fa-copy" onClick=></i>
            </span>
          </div>
          <div class="control">
            <a class="button is-primary is-medium  is-outlined is-rounded has-text-centered">
              Copy link
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Url Shortner Company</strong> by <a href="https://github.com/seandurban">Sean Durban</a>
      </p>
      <p>
        <a class="button is-medium is-dark is-outlined" href= "https://github.com/seandurban">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
        </a>
        <a class="button is-medium is-dark is-outlined " href= "https://linkedin.com">
          <span class="icon">
            <i class="fab fa-linkedin"></i>
          </span>
        </a>
        <a class="button is-medium is-dark is-outlined " href= "https://twitter.com">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
      </p>
    </div>
  </footer>
</body>
</html>
